* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nothing You Could Do";
  src: url(../fonts/NothingYouCouldDo.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  color: #000;
}

a:hover {
  color: #ff4a52;
}

/* ---------------- Header ---------------- */

header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  position: relative;
}

nav li {
  list-style: none;
  display: inline-block; /* agar "inline" bashe "margin-top" kar nmikone ! :) */
  margin-right: 35px;
  margin-top: 13px;
}

nav li a {
  font-size: 1.3em;
}

.search-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 45px;
  background-color: #ff4a52;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon a {
  color: #fff;
}

.drop-down-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #1ec6b6;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none !important;
}

.drop-down-menu a:hover {
  color: #000;
}

/* ---------------- Banner ---------------- */

.banner {
  background: url("../images/banner2.png");
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45vw;
}

.banner-content h3 {
  font-size: 8vw;
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  color: white;
  line-height: 10vw;
}

.banner-content p {
  font-size: 2.5vw;
  font-weight: 400;
  color: white;
}

.banner-btn {
  background-color: #1ec6b6;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.7vw;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 1vw 1.5vw;
  transition: 0.3s;
}

.banner-btn:hover {
  background-color: #ff4a52;
  color: white !important;
}

/* ---------------- Serach-Bar ---------------- */

.search-bar {
  background-color: #040e27;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 25px;
}

.search-bar h3 {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-right: 15px;
}

.search-form input {
  background-color: transparent;
  border: 1px solid #363e52;
  border-radius: 5px;
  margin: 10px 15px;
  padding: 17px 20px;
  width: 220px;
  color: white;
  outline: 0;
}

.search-form .search-btn {
  background-color: #ff4a52;
  color: white;
  padding: 17px 39px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 15px;
}

.search-btn:hover {
  background-color: #1ec6b6;
  color: white !important;
}

/* ---------------- Popular Destination ---------------- */

.popular-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  text-align: center;
}

.popular-heading h3 {
  font-size: 38px;
  font-weight: 400;
  color: #040e27;
  margin-bottom: 15px;
}

.popular-heading p {
  color: #7a838b;
  line-height: 30px;
  font-weight: 400;
}

.popular-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popular-content article {
  position: relative;
  margin: 0 10px;
  transition: transform 0.3s;
}

.popular-content article:hover {
  transform: translateY(-10px);
}

.popular-content article img {
  margin-bottom: 20px;
  height: 280px;
}

.popular-content article:before {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
  content: "";
  width: 100%;
  height: 92.4%;
  border-radius: 5px;
}

.popular-image-info {
  position: absolute;
  left: 30px;
  bottom: 50px;
}

.popular-image-info p {
  font-size: 22px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.popular-image-info a {
  background-color: #1ec6b6;
  font-size: 12px;
  border-radius: 30px;
  padding: 7px 12px;
  color: #fff;
  margin-left: 13px;
  cursor: pointer;
  transition: 0.4s;
}

.popular-content article:hover .popular-image-info p {
  color: #ff4a52;
}

.popular-content article:hover .popular-image-info a {
  background-color: #ff4a52;
}

/* ---------------- newsletter ---------------- */

.newsletter {
  background-image: url("../images/newsletter.png");
  background-position: 65% 65%;
  background-size: cover;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsletter::before {
  position: absolute;
  content: "";
  background-color: #040e27;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.newsletter-text {
  z-index: 1;
}

.newsletter-text h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.newsletter-text p {
  color: #aab1b7;
  font-size: 12px;
}

.mail-form {
  z-index: 1;
}

.mail-form input {
  width: 40vw;
  height: 50px;
  padding-left: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 18px;
  margin-left: 20px;
}

.mail-form-btn {
  background-color: #ff4a52;
  color: #fff;
  border: none;
  padding: 16px 10px;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
  margin-left: -5px;
}

/* ---------------- video ---------------- */

.video {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 130px 0;
  margin: 15px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100 !important;
}

.video::before {
  position: absolute;
  left: 0;
  top: 0;
  background: #040e27;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.video h3 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-size: 7vw;
  color: #fff;
  margin-bottom: 30px;
  z-index: 1;
}

.video-button {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #1ec6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}

.video-button a {
  color: #fff;
}

.video-button:hover {
  background: #ff4a52;
}
